/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

/* Start of website */

.container {
    width: 800px;
    margin: 0 auto;
}

/* Header Nav */

header {
    padding-top: 20px;
    font-size: 16px;
    width: 100%;
}

ul a {
    text-decoration: none;
    color: black;
}

.flex-list ul{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

/* Future and the past */

.top-content img {
    width: 100%;
    padding-top: 20px;
}

.top-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 100%;
    padding: 0 1%;
    padding-bottom: 20px;
    padding-top: 20px;  
    display: flex;
    flex-wrap: wrap;
}





/* Filthy Boxes */

.middle-content {
    margin-bottom: 20px;
    width: 100%;
    
}

.middle-content h2 {
    padding: 0 2%;
    margin-top: 10px;
}

.middle-content p {
    margin-top: 10px;
}

.middle-content button {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:white;
	background-color:white;
	border-radius:6px;
	border:1px solid black;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
    padding:6px 24px;
    margin-right: 20px;
    margin-top: 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.middle-content button:hover {
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	background-color:#dfdfdf;
}
.middle-content button:active {
	position:relative;
	top:1px;
}

.middle-top {
    display: flex;
    align-items: baseline;
    width: 100%;
    margin: 20px;
    padding: 20px;
}

.bottom-middle {
    display: flex;
    align-items: baseline;
    width: 100%;
    margin: 20px;
    padding: 20px;
}

.places-line {
    border-top: 1px dotted black;
    margin-right: 10px;
}

.collaborative-line {
    border-top: 1px dotted black;
   
}

.button-line-places {
    border-top: 1px dotted black;
    margin-right: 10px;
}

.button-line-collaborative {
    border-top: 1px dotted black;
}

.bottom-content {
    padding-top: 20px;
    margin: 0 2% 20px;
    
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
    padding-top: 20px;
}

footer nav ul {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav ul a {
    color: white;
    text-decoration: none;
}


@media all and (max-width:1000px) {

    .flex-list ul {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .flex-list li {
        margin: 2px;
        flex: 1 1 50%;
    }

    a:hover {
        background-color: red;
        color: white;
    }

}

@media all and (max-width:600px) {

    .flex-list ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .flex-list li {
        margin: 2px;
        flex: 1 1 50%;
    }

    a:hover {
        background-color: red;
        color: white;
    }

    .middle-top {
        display: flex;
        flex-direction: column;
        flex:1 1 50%;
    }

    .middle-content1 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex:100%;
        
    }

    .middle-top {
        display: flex;
        flex-direction: column;
        flex:1 1 50%;
    }

    




}